<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>redux-rx-http demo</title>
  <meta name="google" content="notranslate" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
</head>
<body style="display: flex; flex-direction: column">
  <button id="sendPost">Send POST</button>
  <button id="sendGet">Send GET</button>
  <pre id="result" style="width: 400px; height: 300px;" />
</body>
</html>